# Data Cleaning

The goal of the analysis is to produce a model which can predict loan approval. For the purposes of this data cleaning notebook, we want to define an account level of granularity to use in our analysis notebook.

The dataset is from a Czech bank and their client information is separated into 8 tables:

- **account** - static characteristics of an account
- **client** - characteristics of a client
- **disposition** - relationship between a client and their account
- **permanent order** characteristics of a payment
- **transaction** - transaction on an account
- **loan** - loan granted for a given account
- **credit card** - credit card issued to an account
- **demographic** - demographic characteristics of a district

More information on this dataset can be found here: 
[Financial Dataset](https://sorry.vse.cz/~berka/challenge/pkdd1999/berka.htm)

In [1]:
import pandas as pd
# import numpy as np
import matplotlib.pyplot as plt 
# import seaborn as sns
# import pymysql
# import datetime
plt.style.use('fivethirtyeight')
#plt.style.use('default')
# from functools import reduce
pd.set_option('display.max_columns',None)
pd.set_option('display.min_rows', None)
from glob import glob

## Data Import

In [4]:
df_account = pd.read_csv('csv_files/raw_csv/df_account.csv', low_memory = False) 
df_client = pd.read_csv('csv_files/raw_csv/df_client.csv', low_memory = False)
df_disp = pd.read_csv('csv_files/raw_csv/df_disp.csv', low_memory = False)
df_order = pd.read_csv('csv_files/raw_csv/df_order.csv', low_memory = False)
df_trans = pd.read_csv('csv_files/raw_csv/df_trans.csv', low_memory = False)
df_loan = pd.read_csv('csv_files/raw_csv/df_loan.csv', low_memory = False)
df_card = pd.read_csv('csv_files/raw_csv/df_card.csv', low_memory = False)
df_district = pd.read_csv('csv_files/raw_csv/df_district.csv', low_memory = False)

There are 8 different raw CSV files that we need to manipulate. I decided to create this function to give an overview of a data frame as we'll be investigating several dataframes.

In [58]:
def df_overview(df):
    
    '''
    Outputs an overview of the dataframe:
    - Sample of dataframe
    - Shape
    - Data types
    - Missing values (%)
    - Descriptive statistics
    '''
    print('\nShape of dataframe:\n')
    print(f'{df.shape[0]} rows | {df.shape[1]} columns')
    print('-' * 42)
    
    print('\nSample of dataframe:\n')
    print(df.head())
    print('-' * 42)
    
    print('\nData types of dataframe:\n')
    print(df.dtypes)
    print('-' * 42)
    
    print('\nMissing values by % in dataframe\n')
    print(df.isnull().sum()*100/df.shape[0])
    print('-' * 42)
    
    print('\nDecriptive statistics of dataframe:\n')
    print(df.describe())
    print('-' * 42)

In [59]:
df_overview(df_account)

Shape of dataframe:

4500 rows | 4 columns
------------------------------------------

Sample of dataframe:

   account_id  district_id         frequency        date
0           1           18  POPLATEK MESICNE  1995-03-24
1           2            1  POPLATEK MESICNE  1993-02-26
2           3            5  POPLATEK MESICNE  1997-07-07
3           4           12  POPLATEK MESICNE  1996-02-21
4           5           15  POPLATEK MESICNE  1997-05-30
------------------------------------------

Data types of dataframe:

account_id      int64
district_id     int64
frequency      object
date           object
dtype: object
------------------------------------------

Missing values by % in dataframe

account_id     0.0
district_id    0.0
frequency      0.0
date           0.0
dtype: float64
------------------------------------------

Decriptive statistics of dataframe:

         account_id  district_id
count   4500.000000  4500.000000
mean    2786.067556    37.310444
std     2313.811984    25.177217
min        1.000000     1.000000
25%     1182.750000    13.000000
50%     2368.000000    38.000000
75%     3552.250000    60.000000
max    11382.000000    77.000000
------------------------------------------

In [60]:
# Let's convert to English for better understanding.
df_account['frequency'].replace('POPLATEK MESICNE', 'monthly', inplace=True)
df_account['frequency'].replace('POPLATEK TYDNE', 'weekly', inplace=True)
df_account['frequency'].replace('POPLATEK PO OBRATU', 'after_trans', inplace=True)
df_account.rename(columns = {'frequency':'stmt_frq'}, inplace=True) #statement frequency

Frequency of an account is defined as: "frequency of issuance of statements"
- "POPLATEK MESICNE" stands for monthly issuance
- "POPLATEK TYDNE" stands for weekly issuance
- "POPLATEK PO OBRATU" stands for issuance after transaction

In [62]:
# Convert date to a datetime type variable
df_account['date'] = pd.to_datetime(df_account['date'])

In [ ]:
df_client.head()

In [ ]:
df_client.isnull().sum()*100/df_client.shape[0]

In [ ]:
df_client.dtypes

In [ ]:
for df in dataframes:

In [ ]:
# Convert date to a datetime type variable
df_client['birth_date'] = pd.to_datetime(df_client['birth_date'])

In [ ]:
df_list = [df1, df2]

for i in df_list:

   i = i.rename(columns={
  '1':'a',
  '2':'b',
  '3':'c', ...})

In [ ]:
df_disp.head()

In [ ]:
for name in range(raw_file_names):
    name = dataframes[name]

In [ ]:
df_disp.dtypes

In [ ]:
[dataframes[name] for name in raw_file_names]

In [ ]:
df_order.head()

In [ ]:
d = {frame: pd.DataFrame() for frame in dataframes}

In [ ]:
df_order.isnull().sum()*100/df_order.shape[0]

In [ ]:

for i in dataframes:
    
dataframes[0]

In [ ]:
df_order.dtypes

- "POJISTNE" stands for insurance payment
- "SIPO" stands for household
- "LEASING" stands for leasing
- "UVER" stands for loan payment

In [ ]:
# Let's convert k_symbol to English
df_order['k_symbol'].replace('POJISTNE', 'insurance', inplace=True)
df_order['k_symbol'].replace('SIPO', 'household', inplace=True)
df_order['k_symbol'].replace('LEASING', 'leasing', inplace=True)
df_order['k_symbol'].replace('UVER', 'loan', inplace=True)
df_order['k_symbol'].replace(np.nan, 'unknown', inplace=True)
df_order.rename(columns = {'k_symbol':'order_payment_type'}, inplace=True)

In [ ]:
df_trans.head()

In [ ]:
df_trans.isnull().sum()*100/df_trans.shape[0]

#bank & account have over 70% of rows missing - won't be using

In [ ]:
df_trans['operation'].unique()

In [ ]:
df_trans['k_symbol'].unique()

In [ ]:
df_trans.dtypes

In [ ]:
# Convert date to a datetime type variable
df_trans['date'] = pd.to_datetime(df_trans['date'])

`type` - type of transaction
- "PRIJEM" stands for credit
- "VYDAJ" stands for withdrawal

`operation` - mode of transaction
- "VYBER KARTOU" credit card withdrawal
- "VKLAD" credit in cash
- "PREVOD Z UCTU" collection from another bank
- "VYBER" withdrawal in cash
- "PREVOD NA UCET" remittance to another bank

`k_symbol` - characterization of transaction
- "POJISTNE" stands for insurrance payment
- "SLUZBY" stands for payment for statement
- "UROK" stands for interest credited
- "SANKC. UROK" sanction interest if negative balance
- "SIPO" stands for household
- "DUCHOD" stands for old-age pension
- "UVER" stands for loan payment

In [ ]:
# Replace names for type
df_trans['type'].replace('PRIJEM', 'credit', inplace=True)
df_trans['type'].replace('VYDAJ', 'withdrawal', inplace=True)
df_trans.rename(columns = {'type':'trans_type'}, inplace=True) 

# Replace names for operation
df_trans['operation'].replace('VYBER KARTOU', 'cc_withdrawal', inplace=True) #credit card withdrawal
df_trans['operation'].replace('VKLAD', 'c_cash', inplace=True) #credit in cash
df_trans['operation'].replace('PREVOD Z UCTU', 'col_bank', inplace=True) #collection from another bank
df_trans['operation'].replace('VYBER', 'withdrawal_c', inplace=True) #withdrawal in cash
df_trans['operation'].replace('PREVOD NA UCET', 'remittance', inplace=True) #withdrawal in cash
df_trans['operation'].replace(np.nan, 'unknown', inplace=True)

# Replace names for k_symbol
df_trans['k_symbol'].replace('POJISTNE', 'insurance', inplace=True) 
df_trans['k_symbol'].replace('SLUZBY', 'statement', inplace=True) 
df_trans['k_symbol'].replace('UROK', 'int_cred', inplace=True) #interest credited
df_trans['k_symbol'].replace('SANKC. UROK', 'sanc_int', inplace=True) #sanction interest if negative balance
df_trans['k_symbol'].replace('SIPO', 'household', inplace=True) 
df_trans['k_symbol'].replace('DUCHOD', 'pension', inplace=True) 
df_trans['k_symbol'].replace('UVER', 'loan', inplace=True) 
df_trans['k_symbol'].replace(np.nan, 'unknown', inplace=True)
df_trans['k_symbol'].replace(' ', 'unknown', inplace=True)
df_trans.rename(columns = {'k_symbol':'trans_payment_type'}, inplace=True)

In [ ]:
df_loan.head()

In [ ]:
df_loan.isnull().sum()*100/df_loan.shape[0]

In [ ]:
df_loan.dtypes

In [ ]:
# Convert date to a datetime type variable
df_loan['date'] = pd.to_datetime(df_loan['date'])

In [ ]:
# Rename loan columns
df_loan = df_loan.rename(columns={'amount': 'loan_amount', 'duration':'loan_duration', 'payments':'monthly_loan_payment', 'status':'loan_status'})

In [ ]:
df_card.head()

In [ ]:
df_card.isnull().sum()*100/df_card.shape[0]

In [ ]:
df_card.dtypes

In [ ]:
df_card['issued'] = pd.to_datetime(df_card['issued'])

In [ ]:
df_district.head()

In [ ]:
df_district.isnull().sum()*100/df_card.shape[0]

In [ ]:
df_district.dtypes

In [ ]:
df_district = df_district.rename(columns={'A2':'district_name', 
                                          'A3':'region', 
                                          'A4':'population', 
                                          'A5':'nmu_lt499',
                                          'A6':'nmu_500to1999', 
                                          'A7':'nmu_2000to9999', 
                                          'A8':'nmu_gt10000',
                                          'A9':'n_cty', 
                                          'A10':'ratio_urban', 
                                          'A11':'avg_salary', 
                                          'A12':'unemp_95', 
                                          'A13': 'unemp_96',
                                          'A14':'nentrep_p1000', 
                                          'A15':'ncrimes_95', 
                                          'A16':'ncrimes_96'})

In [ ]:
# Time to merge different dateframes

df_final = pd.merge(df_account, df_disp, on = 'account_id') #shape: 5369, 7

In [ ]:
df_final.head()

In [ ]:
df_final = pd.merge(df_final, df_district, on = 'district_id') # shape: 5369, 22

In [ ]:
df_final.head()

In [ ]:
df_final = pd.merge(df_final, df_client, on = 'client_id') #shape: 5369, 25

#can drop one of the district_id

In [ ]:
df_final.head()

In [ ]:
df_final = pd.merge(df_final, df_card, on='disp_id', how='outer', suffixes=('_disp','_card')) #shape: 5369, 28

In [ ]:
df_final.head()

In [ ]:
df_final = pd.merge(df_final, df_loan, on='account_id', how='inner', suffixes=('_account','_loan')) #shape: 827, 34

#We only keep the accounts with loans

In [ ]:
len(df_final['client_id'].unique()) 

# There are 827 unique clients with loans

In [ ]:
len(df_final['account_id'].unique()) 

# This makes sense as the semi anonymized dataset contains 606 successful and 76 not successful loans.

In [ ]:
df_final.head()

In [ ]:
df_trans.head()

In [ ]:
df_trans_account = pd.merge(df_trans, df_final[['account_id','date_loan']], on = 'account_id') 

#shape: 233627, 11 transactions for accounts with loans

In [ ]:
df_trans_account.head()

In [ ]:
#Drop duplicate transactions
df_trans_account = df_trans_account.drop_duplicates()

In [ ]:
df_trans_account.head()

In [ ]:
# Get the difference between the date of the loan and the date of the transaction
df_trans_account['date_diff'] = (df_trans_account['date_loan'] - df_trans_account['date'])

In [ ]:
df_trans_account.head()

In [ ]:
df_trans_account.shape

In [ ]:
# Let's drop transactions that occured after the loan date
df_trans_account.drop(df_trans_account[df_trans_account['date_diff'] < datetime.timedelta(0)].index, inplace=True)

In [ ]:
df_trans_account.shape

In [ ]:
df_trans_type_counts = df_trans_account.groupby('account_id')['trans_type'].value_counts().to_frame()
df_operation_counts = df_trans_account.groupby('account_id')['operation'].value_counts().to_frame()
df_payment_type_counts = df_trans_account.groupby('account_id')['trans_payment_type'].value_counts().to_frame()

In [ ]:
df_trans_type_counts.index = df_trans_type_counts.index.set_names(['account_id', 'transaction_type'])
df_operation_counts.index = df_operation_counts.index.set_names(['account_id', 'operation_type'])
df_payment_type_counts.index = df_payment_type_counts.index.set_names(['account_id', 'payment_type'])

In [ ]:
df_trans_type_counts.reset_index(inplace=True)
df_operation_counts.reset_index(inplace=True)
df_payment_type_counts.reset_index(inplace=True)

In [ ]:
df_trans_type_counts = df_trans_type_counts.pivot(index='account_id', columns='transaction_type', values='trans_type').fillna(0).reset_index(inplace=False)
df_operation_counts = df_operation_counts.pivot(index='account_id', columns='operation_type', values='operation').fillna(0).reset_index(inplace=False)
df_payment_type_counts = df_payment_type_counts.pivot(index='account_id', columns='payment_type', values='trans_payment_type').fillna(0).reset_index(inplace=False)

In [ ]:
df_trans_type_counts.columns = ['num_trans_' + str(col) for col in df_trans_type_counts.columns]
df_operation_counts.columns = ['num_ops_' + str(col) for col in df_operation_counts.columns]
df_payment_type_counts.columns = ['num_pay_' + str(col) for col in df_payment_type_counts.columns]

In [ ]:
df_trans_type_counts.rename(columns={'num_trans_account_id':'account_id'}, inplace=True)
df_operation_counts.rename(columns={'num_ops_account_id':'account_id'}, inplace=True)
df_payment_type_counts.rename(columns={'num_pay_account_id':'account_id'}, inplace=True)

In [ ]:
df_payment_type_counts['account_id'].nunique()

In [ ]:
#Create new transaction counts data frame 
counts_dataframes = [df_trans_type_counts, df_operation_counts, df_payment_type_counts]
df_counts = reduce(lambda left,right: pd.merge(left,right,on='account_id'), counts_dataframes)#shape: 682,17

In [ ]:
df_final = pd.merge(df_final, df_counts, on = 'account_id') #shape: 827, 50

In [ ]:
df_final.shape

In [ ]:
df_final.head(1)

Most lenders ask to see at least two-three months' worth of statements before they issue you a loan.

Let's take a look at the account balance before the loan date for the past 3 months.

In [ ]:
df_trans_account_copy = df_trans_account.copy()

In [ ]:
df_trans_account_copy.shape

In [ ]:
# Let's take a look at transactions within different time frames upto 3 months
df_trans_account_30 = df_trans_account_copy.copy()
df_trans_account_60 = df_trans_account_copy.copy()
df_trans_account_90 = df_trans_account_copy.copy()

In [ ]:
# Reducing transactions by months (30, 60, 90 days)
df_trans_account_30.drop(df_trans_account_30[df_trans_account_30['date_diff'] > datetime.timedelta(30)].index, inplace=True)
df_trans_account_60.drop(df_trans_account_60[df_trans_account_60['date_diff'] > datetime.timedelta(60)].index, inplace=True)
df_trans_account_90.drop(df_trans_account_90[df_trans_account_90['date_diff'] > datetime.timedelta(90)].index, inplace=True)

In [ ]:
df_trans_account_30.shape

In [ ]:
df_trans_account_90.shape

#Makes sense as there are more transaction with more time

In [ ]:
mon_1_balance = df_trans_account_30.groupby('account_id')['balance'].agg(['min','max','mean','count']).reset_index()
mon_2_balance = df_trans_account_60.groupby('account_id')['balance'].agg(['min','max','mean','count']).reset_index()
mon_3_balance = df_trans_account_90.groupby('account_id')['balance'].agg(['min','max','mean','count']).reset_index()

In [ ]:
mon_1_balance.rename(columns = {'min':'min1','max':'max1','mean':'mean1','count':'count1'}, inplace=True)
mon_2_balance.rename(columns = {'min':'min2','max':'max2','mean':'mean2','count':'count2'}, inplace=True)
mon_3_balance.rename(columns = {'min':'min3','max':'max3','mean':'mean3','count':'count3'}, inplace=True)

In [ ]:
#Create new client data frame with different balance statistics for different time frames
balance_dataframes = [df_final, mon_1_balance, mon_2_balance, mon_3_balance]
df_final = reduce(lambda left,right: pd.merge(left,right,on='account_id'), balance_dataframes)#shape:827,62

In [ ]:
# Let's focus on the owners of the account but we'll keep a count if there are multiple people on an account 

df_num_clients = df_final.groupby('account_id', as_index=False)['type_disp'].count().rename(columns={'type_disp':'num_clients'})

In [ ]:
df_num_clients.shape

In [ ]:
df_final = pd.merge(df_final, df_num_clients, on = 'account_id')

In [ ]:
df_final.head()

In [ ]:
df_final_owner = df_final[df_final['type_disp']=='OWNER']

In [ ]:
df_final_owner.shape

In [ ]:
df_final_owner.to_csv('df_final_owner.csv')